html, body {
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;
}

p,h1, h2 {
    color: black;
    font-size: 35px;
    font-family: 'Press Start 2P', cursive;
    transition: all 0.5s ease;
}
